/* @import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css); */

/* @font-face {
    font-family: 'Noto Serif CJK TC SemiBold';
    src: url('http://full-stack-artisan.com/fonts/NotoSerifCJKtc-SemiBold.otf');
}
@font-face {
    font-family: 'Noto Serif CJK TC Medium';
    src: url('http://full-stack-artisan.com/fonts/NotoSerifCJKtc-Medium.otf');
}
@font-face {
    font-family: 'Noto Serif CJK TC Bold';
    src: url('http://full-stack-artisan.com/fonts/NotoSerifCJKtc-Bold.otf');
}
@font-face {
    font-family: 'Noto Sans CJK TC Light';
    src: url('http://full-stack-artisan.com/fonts/NotoSansCJKtc-Light.otf');
}
@font-face {
    font-family: 'Noto Sans Regular';
    src: url('http://full-stack-artisan.com/fonts/NotoSans-Regular.ttf');
} */
.NotoSerif-Semi {
    font-family: 'notoserifcjktc' !important;
    font-weight: 600 !important;
}
.NotoSerif-Medium {
    font-family: 'notoserifcjktc' !important;
    font-weight: 400 !important;
}
.NotoSerif-Bold {
    font-family: 'notoserifcjktc' !important;
    font-weight: 700 !important;
}
.NotoSans-Regular {
    font-family: 'sourcehansans-tc' !important;
    font-weight: 400;
}
.NotoSans-Light {
    font-family: 'sourcehansans-tc' !important;
    font-weight: 200;
}
body {
    position: relative;
    font-family: sans-serif;
}
.logo > .img-responsive {
    height: 100%;
}
li > .disabled {
  cursor: default;
}
@media (max-width: 1600px) and (min-width:992px) {
  .fixed-top-links {
      display: none;
  }
}
 /* css globally */
 /* navbar */
@media (max-width: 991px) {
  /* navbar collapse menu css */
  .navbar {
    height: 50px !important;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    left: 0px;
  }
  .navbar-collapse-menu {
      background-color: rgba(70, 95, 45, 0.85);
      border: 0 !important;
      position: relative;
      top: 50px;
      max-height: 100vh !important;
      z-index: 1500;
      width: 100%;
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  .navbar-collapse-menu > ul {
    width: 35vw;
    max-width: 150px;
    font-size: 1.8rem;
    font-family: 'notoserifcjktc' !important;
    font-weight: 600 !important;
    padding-top: 67px;
  }
  .navbar-collapse-menu > ul > li {
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 25px;
    padding: 0px;
    height: 35px;
    width: 100%;
  }
  .navbar-li.active  > a {
    border-bottom: none !important;
  }
  .navbar-li-reserve.active  > a {
    border-bottom: none !important;
  }
  .navbar-collapse-menu > ul > li > a {
    padding-top: 3px;
    width: 100%;
    line-height: normal !important;
    /* padding-bottom: 10px; */
  }
  .navbar-reserve-btn > img {
    display: none;
  }
  .navbar-collapse-menu-links {
    font-family: 'sourcehansans-tc' !important;
    font-weight: 200;
    color: white;
    margin-top: 67px;
    letter-spacing: 5px;
    padding-bottom: calc(15vh + 15vw);
    font-weight: lighter;
  }
  .navbar-collapse-menu-links > a {
    font-family: 'sourcehansans-tc' !important;
    font-weight: 200;
    color: white;
    vertical-align: middle;
  }
  /* toggle navbar on screen width under 991px */
  .navbar-header {
      float: none;
  }
  .navbar-left, .navbar-right {
      float: none !important;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
  		top: 0;
  		border-width: 0 0 1px;
	}
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
		  margin-top: 7.5px;
	}
  .collapse.in{
		display:block !important;
	}
}
@media (min-width: 992px) {
    .fixed-top-links {
        position: fixed;
        padding-left: 2vw;
        top: 36px;
        right: 10px;
        color: white;
        font-weight: lighter;
        z-index: 1400;
    }
    .fixed-top-links > .btn-group > button {
        background-color: transparent;
        border: 0;
    }
    .fixed-top-links > a {
        color: white;
        padding-left: 0.6vw;
        padding-right: 0.6vw;
        vertical-align: middle;
    }
    .navbar-nav > li > a:hover {
        border-bottom: 3px solid white;
    }
    /* end fo navbar */
}
.information-description-icon > button {
    font-family: 'notoserifcjktc';
    font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1320px) {
    section {
        height: 600px;
        overflow: hidden;
    }
    .fixed-top-links {
      font-size: 1.5rem;
    }
    .fixed-top-logo {
        position: fixed;
        top: 22px;
        left: 35px;
        z-index: 1400;
    }
    .fixed-top-logo > img {
        width: 137px;
    }
    .navbar-reserve-btn > img {
      display: inline;
      width: 1.3rem;
      padding-bottom: 6px;
    }
    .navbar-li {
        width: 129px;
        /* margin-right: 4.63541vw; */
        margin-left: calc(7.33333333vw - 71px);
    }
    .navbar-li-reserve {
        margin-left: calc(7.33333333vw - 71px);
    }
    .navbar-ul {
        padding-top: 10px;
        /* width: calc(294px + 40vw); */
        margin-left: calc(14.73957vw + 71px);
    }
    .reserve-btn {
        width: 160px;
        margin-top: 5px !important;
        padding-top: 7px !important;
        margin-bottom: 7px !important;
        padding-bottom: 2px !important;
    }
    /* end of navbar */
    /* section 2 3 4 information layouts */
    .section-row {
        margin-top: 50px;
        z-index: 1200;
    }
    .section-row > .left-carousel {
        position: absolute;
        margin-left: 8.3333333%;
        margin-top: 150px;
        width: 50%;
        min-width: 537px;
    }
    .carousel-indicators {
      bottom: 10px !important;
      left: 16% !important;
    }
    .carousel-indicators li {
      border: none !important;
    }
    .section-row > .right-information {
        width: calc(18.03vw + 197.4px);
        min-width: 248px;
        position: absolute;
        margin-top: 150px;
        /* margin-right:  */
        padding-left: calc(90px + 0.03vw);
        overflow: hidden;
    }
    .information-icon > .img-responsive {
        width: 55px;
    }
    .information-title > h1 {
        display: inline-block;
        font-size: 2.8rem;
        margin-top: 28px !important;
        margin-bottom: 0px !important;
        font-weight: 600;
    }
    .information-description {
        margin-top: 32px !important;
        margin-bottom: 0px !important;
        height:150px;
    }
    .information-description > h2 {
        color: #727171;
        line-height:1.5;
        letter-spacing: 2px;
        font-size: 2rem;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-align: justify;
        font-weight: 400;
    }
    .information-description-icon-div {
        margin-top: 31px;
        margin-left: -9px;
        margin-right: -9px;
    }
    .information-description-icon > button {
        background-color: #466612;
        color: white;
        text-align: center;
        letter-spacing: 4px;
        padding: 5px 5px 5px 15px;
        border-radius: 20px;
        border: none !important;
    }
    .information-description-icon > .button-left {
        position: relative;
        float: none;
        margin-left: 9px;
        margin-right: 9px;
    }
    .information-description-icon > .button-right {
        position: relative;
        float: none;
        margin-left: 9px;
        margin-right: 9px;
    }
}
/* fixed top links */
@media (min-width: 1321px) {
    section {
        height: 1080px;
        overflow: hidden;
    }
    /* navbar */
    .fixed-top-links {
        font-size: 2rem;
    }
    .fixed-top-logo {
        position: fixed;
        top: 20px;
        left: 46px;
        z-index: 1400;
    }
    .fixed-top-logo > img {
        width: 171px;
    }
    .navbar-reserve-btn > img {
      display: inline;
      width: 1.7rem;
      padding-bottom: 7px;
    }
    .navbar-li {
        width: 129px;
        /* margin-right: 4.63541vw; */
        margin-left: calc(8.33333333vw - 71px);
    }
    .navbar-li-reserve {
        margin-right: 0;
        margin-left: calc(8.33333333vw - 81px);
    }
    .navbar-ul {
        /* width: calc(294px + 40vw); */
        margin-left: calc(14.73957vw + 71px);
    }
    .reserve-btn {
        width: 200px;
        margin-top: 10px !important;
        padding-top: 5px !important;
        margin-bottom: 10px !important;
        padding-bottom: 5px !important;
    }
    /* end of navbar */
    /* section 2 3 4 information divs */
    .section-row {
        margin-top: 100px;
        z-index: 1200;
    }
    .section-row > .left-carousel {
        position: absolute;
        margin-left: 8.3333333%;
        margin-top: 150px;
        width: 50%;
    }
    .carousel-indicators {
      bottom: 10px !important;
      left: 14% !important;
    }
    .carousel-indicators li {
      border: none !important;
    }
    .section-row > .right-information {
        width: calc(10vw + 288px);
        position: absolute;
        margin-top: 150px;
        padding-left: 68px;
        padding-right: 0px;
        overflow: visible;
    }
    .information-icon > .img-responsive {
        width: 92px;
    }
    .information-title {
        position: relative;
        display: inline-block;
    }
    .information-title > h1 {
        font-size: 4.7rem;
        letter-spacing: -1px;
        margin-top: 48px;
        margin-bottom: 0px;
        font-weight: 600;
    }
    .information-description {
        height: 250px;
        position: relative;
    }
    .information-description > h2 {
        color: #727171;
        line-height: 1.7;
        letter-spacing: 1px;
        margin-top: 56px !important;
        margin-bottom: 0 !important;
        text-align: justify;
        font-weight: 400;
    }
    .information-description-icon-div {
        margin-top: 90px;
        position: relative;
        margin-left: -9px;
        margin-right: -9px;
    }
    .information-description-icon > button {
        /* margin-left: 9px;
        margin-right: 9px; */
        margin-bottom: 10px;
        width: 197px;
        height: 52px;
        background-color: #466612;
        color: white;
        text-align: center;
        letter-spacing: 2px;
        padding: 5px 5px 5px 5px;
        border-radius: 30px;
        font-size: 2.6rem;
        border: none !important;
    }
    .information-description-icon > .button-left {
        position: relative;
        float: none;
        margin-left: 7px;
        margin-right: 7px;
    }
    .information-description-icon > .button-right {
        position: relative;
        float: none;
        margin-left: 7px;
        margin-right: 7px;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .reserve-nav-btn > img {
    padding-bottom: 0px !important;
  }
  .navbar-reserve-btn > img {
    padding-bottom: 0px !important;
  }
  .reserve-btn {
    padding-bottom: 7px !important;
  }
}
@media (max-width: 991px) {
  section {
    overflow: hidden;
    height: calc(60vw + 470px)
  }
  .none-bg {
    background-color: transparent !important;
  }
  .none-bg > button{
    background-color: transparent !important;
    border: none;
  }
  .reserve-nav-btn > img {
    display: inline;
    width: 0.9rem;
    padding-bottom: 4px;
  }
  .fixed-top-logo{
      position: fixed;
      z-index: 1400;
      height: 40px;
      margin-left: calc(50vw - 50px);
      top: 8px;
      width: 100px;
  }
  .fixed-top-reserve-btn {
    background-color: inherit;
    position: fixed;
    right: 10px;
    top: 14px;
    font-family: 'notoserifcjktc';
    font-weight: 600;
    font-weight: lighter;
    border: 1px solid white;
    border-radius: 25px;
  }
  .fixed-top-reserve-btn > a {
    color: white;
    padding: 8px;
  }

  .section-row {
      margin-top: 50px;
      z-index: 1200;
  }
  .section-row > .left-carousel {
      position: relative;
      /* margin-left: 8.3333333%;
      margin-top: 150px; */
      width: 100%;
      left: 0;
      /* min-width: 537px; */
  }
  .carousel-indicators {
    bottom: 10px !important;
    left: 18% !important;
  }
  .carousel-indicators li {
    border: none !important;
  }
  .section-row > .right-information {
      width: 100%;
      /* min-width: 248px; */
      position: relative;
      top: 30px;
      left: 0;
      /* margin-right:  */
      /* padding-left: calc(90px + 0.03vw); */
      overflow: hidden;
  }
  .information-icon > .img-responsive {
      width: 55px;
  }
  .information-title > h1 {
      display: inline-block;
      font-size: 3rem;
      letter-spacing: 2px;
      margin-top: 28px !important;
      margin-bottom: 0px !important;
  }
  .information-description {
      margin-top: 22px !important;
      margin-bottom: 0px !important;
      /* height:150px; */
      width: 80%;
      text-align: justify;
  }
  .information-description > h2 {
      color: #727171;
      line-height:1.5;
      letter-spacing: 2px;
      /* font-weight: lighter; */
      font-size: 1.8rem;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      text-align: justify;
  }
  .information-description-icon-div {
      margin-top: 30px;
  }
  .information-description-icon > button {
      background-color: #466612;
      color: white;
      text-align: center;
      letter-spacing: 4px;
      padding: 5px 5px 5px 15px;
      border-radius: 20px;
      border: none !important;
  }
  .information-description-icon > .button-left {
      position: relative;
      margin-right: 8%;
  }
  .information-description-icon > .button-right {
      position: relative;
      margin-left: 8%;
  }
  /* --------------------------------------- */
}
/* Navbar */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    margin-top:0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1200;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
.story-position {
    margin-top: 100px;
}
.nav > .reserve-btn > a {
    border-bottom: 0px !important;
}
/* .modal-backdrop {
  z-index: 1000 !important;
} */
.bg-transition-out {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.bg-transition-in {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.home-slogan > img {
  position: absolute;
}
.homeBg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
    #home {
        height: 980px !important;
        background-image: url('../img/home/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .homeBg {
      height: 980px;
      background-position: center;
    }
    .home-slogan > img {
      width: 110px;
      height: auto;
    }
    .reserve-btn {
        border: 1px solid white !important;
        border-radius: 50px;
    }
}
@media (max-width: 991px) {
    #home {
        height: 667px !important;
        background-image: url('../img/home/home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 48.52% 50px;
    }
    .homeBg {
      height: 667px;
      background-position: 48.5% 50px;
    }
    .home-slogan > img {
      width: auto;
      height: 520px;
      width: 65px !important;
    }
}
@media (min-width: 1321px) {
  #story {
      background-image: url('../img/story/story.jpg');
      background-repeat: repeat-y;
      background-size: cover;
      background-position: 0 0;
  }
  #cuisine {
      background-image: url('../img/cuisine/cuisine.jpg');
      background-repeat: repeat-y;
      background-size: cover;
      background-position: 0 0;
  }
  #memory {
      background-image: url('../img/memory/memory.jpg');
      background-repeat: repeat-y;
      background-size: cover;
      background-position: 0 0;
  }
}
@media (max-width: 1320px) {
  #story {
      background-image: url('../img/story/story.jpg');
      background-repeat: repeat-y;
      background-size: auto;
      background-position: 0 0;
  }
  #cuisine {
      background-image: url('../img/cuisine/cuisine.jpg');
      background-repeat: repeat-y;
      background-size: auto;
      background-position: 0 0;
  }
  #memory {
      background-image: url('../img/memory/memory.jpg');
      background-repeat: repeat-y;
      background-size: auto;
      background-position: 0 0;
  }
}
/* cuisine css */
@media (max-width: 991px) {
  .modal {
    background-color: transparent;
  }
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0;
  }
  #cuisineModal {
    /* margin-left: calc(20vw - 30px); */
    width: 100%;
    align-items: center;
  }
  #cuisineModal > .modal-dialog{
    width: 200px;
  }
  .cuisine-modal-close {
    margin-right: -25px;
    margin-top: -25px;
    background-color: white;
    opacity: 0.5;
    float: right;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
  }
  .cuisine-modal-close > img {
    height: 100%;
    width: 100%;
  }
  .cuisine-modal-btn {
    color: white;
    background-color: rgba(70, 102, 18, 0.5);
    border-radius: 40px;
    border: 2px solid white;
    width:100%;
    font-size: 1.6rem;
    margin-top:1.6vh;
    letter-spacing: 2px;
  }
  .cuisine-modal-btn:focus {
    background-color: rgba(70, 102, 18, 1);
    color: white;
  }
  .cuisine-modal-btn:hover {
    background-color: rgba(70, 102, 18, 1);
    color: white;
  }
  .cuisine-modal-btn:active {
    background-color: rgba(70, 102, 18, 1);
    color: white;
  }
  /* cuisine menus */
  #lunch, #dinner, #afternoonTea, #banquet {
    display: none;
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
    z-index: 2000;
    position: fixed;
    overflow-y: scroll;
    overflow-x: visible;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  #lunch > img, #dinner > img, #afternoonTea > img, #banquet > img {
    position: absolute;
    width: 100%;
    /* overflow: scroll; */
    z-index: 2000;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  #lunch > button, #dinner > button, #afternoonTea > button, #banquet > button {
    position: fixed;
    right: 0;
    top: 50px;
    font-size: 1rem;
    z-index: 2500;
  }
}
@media (min-width: 992px) and (max-width: 1320px) {
  .modal {
    right: calc(48vw - 298px);
    background-color: transparent;
  }
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0;
  }
  .cuisine-modal {
    width: 200px;
  }
  .cuisine-modal-close {
    margin-right: -25px;
    margin-top: -25px;
    height: 24px;
    width: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    border: none;
    float: right;
  }
  .cuisine-modal-close > img {
    width: 100%;
    height: 100%;
  }
  .cuisine-modal-btn {
    color: white;
    background-color: rgba(70, 102, 18, 0.5);
    border-radius: 40px;
    border: 2px solid white;
    width:100%;
    font-size: 2rem;
    margin-top:1vh;
  }
  .cuisine-modal-btn:hover {
    background-color: rgba(70, 102, 18, 1);
    color: white;
  }
  .cuisine-modal-btn:active {
    background-color: rgba(70, 102, 18, 1);
    color: white;
  }
  /* cuisine menus */
  #lunch, #dinner, #afternoonTea, #banquet {
    display: none;
    width: 70%;
    height: 100vh;
    top: 0;
    left: 15%;
    z-index: 2000;
    position: fixed;
    overflow: scroll;
  }
  #lunch > img, #dinner > img, #afternoonTea > img, #banquet > img {
    width: 100%;
    overflow: scroll;
  }
  #lunch > button, #dinner > button, #afternoonTea > button, #banquet > button {
    position: fixed;
    right: 15%;
    top: 100px;
    font-size: 2rem;
  }
}
@media (min-width: 1321px) {
  .modal {
    right: calc(40vw - 153.6px);
    background-color: transparent;
  }
  .modal-content {
    background-color: transparent;
    width: 100%;
    box-shadow: none;
    border: 0;
  }
  .cuisine-modal {
    width:260px;
  }
  .cuisine-modal-close {
    margin-right: -25px;
    margin-top: -25px;
    height: 28px;
    width: 28px;
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
    padding: 0;
    border: none;
  }
  .cuisine-modal-close > img {
    width: 100%;
    height: 100%;
  }
  .cuisine-modal-btn {
    color: white;
    background-color: rgba(70, 102, 18, 0.5);
    border-radius: 40px;
    border: 2px solid white;
    width:100%;
    font-size: 3rem;
    margin-top:1vh;
  }
  .cuisine-modal-btn:hover {
    background-color: rgba(70, 102, 18, 1);
    color: white;
  }
  /* cuisine menus */
  #lunch, #dinner, #afternoonTea, #banquet {
    display: none;
    width: 70%;
    height: 100vh;
    top: 50px;
    left: 15%;
    z-index: 2000;
    position: fixed;
    overflow: scroll;
  }
  #lunch > img, #dinner > img, #afternoonTea > img, #banquet > img {
    width: 100%;
    overflow: scroll;
  }
  #lunch > button, #dinner > button, #afternoonTea > button, #banquet > button {
    position: fixed;
    right: 12%;
    top: 50px;
    font-size: 2rem;
  }
}
/* reserve part */
#reserve {
    background-image: url('../img/reserve/background.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: 0 -90px;
}
.input-item > input {
    font-family: 'Microsoft JhengHei' !important;
    font-weight: 200;
}
.input-item > select {
    font-family: 'Microsoft JhengHei' !important;
    font-weight: 200;
}
.input-item > textarea {
    font-family: 'Microsoft JhengHei' !important;
    font-weight: 200;
}
.reserve-form-submit > button {
    font-family: 'notoserifcjktc';
    font-weight: 600;
}
@media (max-width: 991px) {
  #reserve {
      min-height: 950px !important;
  }
  .reserve-bg {
      position: absolute;
      background-color: rgba(70, 102, 18, 0.2);
      width: 100%;
      height: 950px;
      left: 0;
      margin-top: 50px;
      /* padding-left: 0px !important; */
  }
  .reserve-navigate-icon {
      position: relative;
      top: 50px;
      width: 100%;
  }
  .reserve-navigate-icon > img {
      width: 55px;
      height: 55px;
  }
  .reserve-form-div {
      position: absolute;
      left: 10%;
      width: 80%;
  }
  .reserve-form-div > h1 {
      text-align: center;
      font-size: 2.2rem;
      letter-spacing: 2px;
      line-height: 1.5;
      position: relative;
      /* padding-left: 0; */
      margin-top: 80px;
  }
  .reserve-form {
      display: inline-block;
      position: relative;
      top: 200px;
      width: 100%;
      /* padding-left: 0; */
      /* width: 25vw; */
  }
  .input-item {
      margin-top: 18px;
      display: inline-flex;
      width: 100%;
      font-size: 1.6rem;
      white-space: nowrap;
      text-align: justify;
      letter-spacing: 3px;
  }
  .input-item > label {
      position: relative;
      font-weight: lighter !important;
      /* letter-spacing: 2px; */
      min-width: 24%;
      font-weight: 400 !important;
      margin-top: 2px;
  }
  .input-item > input {
      position: relative;
      margin-left: 24px;
      width: 76%;
      height: 30px !important;
      padding-left: 6px;
  }
  .input-item > select {
      position: relative;
      margin-left: 24px;
      height: 30px !important;
      width: 76%;
      padding-left: 0px;
  }
  .input-item > select > option {
      padding: 0px !important;
  }
  .input-item > textarea {
      position: relative;
      margin-left: 24px;
      width: 76%;
  }
  .input-item > .reserve-g-captcha {
      position: relative;
      margin-left: 24px;
      width: 76%;
      letter-spacing: 3px;
      transform:scale(0.675);
      -webkit-transform:scale(0.675);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
  }
  .reserve-info {
      position: absolute;
      letter-spacing: 1px;
      line-height: 1.5;
      font-weight: lighter;
      top: 180px;
      /* width: calc(20vw + 131px); */
      /* margin-left: calc(10vw + 314.8px); */
  }
  .reserve-info > h4 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -5px;
      font-size: 1.6rem;
  }
  .reserve-info > p {
      margin-top: 10px;
      font-size: 1.6rem;
  }
  /* submit button */
  .reserve-form-submit {
      position: absolute;
      top: 820px;
      width: 100%
      /* margin-left: calc(10vw + 314.8px); */
      /* width: calc(20vw + 131px); */
  }
  .reserve-form-submit > button {
      width: 100%;
      /* padding: 10px 0 10px 0; */
      background-color: #466612;
      color: white;
      /* width:100%; */
      font-size: 2rem;
      letter-spacing: 8px;
      border: none !important;
      height: 40px;
  }
  /*
    #reserve {
        height: 800px !important;
        padding-top: 33px;
    }
    .reserve-bg {
        background-color: rgba(70, 102, 18, 0.2);
        height: 800px;
    }
    .reserve-navigate-icon {
        padding: 30px 35px 0 35px;
    }
    .reserve-form {
        padding-top: 2vh;
    }
    .reserve-form > .form-group > label {
        font-size: 1rem;
        font-weight: normal;
        white-space: nowrap;
        letter-spacing: 0.4vw;
        padding-left: 24px;
        padding-top: 5px;
    }
    .form-control {
        font-size: 1rem;
        margin-left: -10px;
    }
    .reserve-div > div > h1 {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 2.2rem;
        line-height: 1.4;
        letter-spacing: 4px;
        text-align: center;
    }
    .reserve-info {
        padding-top: 1vh;
        letter-spacing: 1px;
        line-height: 1.7;
    }
    .reserve-info > h4 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }
    .reserve-info > p {
        font-size: 1.3rem;
        padding-left: 8px;
        letter-spacing: 2px;
    }
    .reserve-form-submit {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .reserve-form-submit > button {
        font-family: NotoSerif-Bold;
        padding: 6px 0 6px 0;
        background-color: #466612;
        color: white;
        width:100%;
        font-size: 1.5rem;
        letter-spacing: 8px;
        border: none !important;
    }
    .reserve-g-captcha {
      transform:scale(0.75);
      -webkit-transform:scale(0.75);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
      padding-left: 7px;
    } */
}
@media (min-width: 992px) and (max-width: 1320px) {
  #reserve {
      min-height: 900px !important;
  }
  .reserve-bg {
      background-color: rgba(70, 102, 18, 0.2);
      margin-top: 200px;
      height: 750px;
      padding-left: 0px !important;
  }
  .reserve-navigate-icon {
      position: absolute;
      margin-left: 8.3333333%;
      top: 70px;
      width: 55px;
      height: 55px;
  }
  .reserve-navigate-icon > img {
      width: 55px;
      height: 55px;
  }
  .reserve-form-div {
      position: absolute;
      margin-left: 16.666666%;
      width: 100%;
  }
  .reserve-form-div > h1 {
      font-size: 26px;
      letter-spacing: 3px;
      position: relative;
      padding-left: 0;
      margin-top: 80px;
  }
  .reserve-form {
      display: inline-block;
      position: absolute;
      top: 161px;
      padding-left: 0;
      width: 25vw;
  }
  .input-item {
      margin-top: 17px;
      display: inline-flex;
      width: calc(12vw + 254px);
      font-size: 2rem;
      font-weight: normal;
      white-space: nowrap;
      text-align: justify;
      letter-spacing: 3px;
  }
  .input-item > label {
      position: relative;
      /* letter-spacing: 2px; */
      min-width: 24%;
      font-weight: 400 !important;
      margin-top: 2px !important;
  }
  .input-item > input {
      position: relative;
      margin-left: 24px;
      width: 76%;
      /* letter-spacing: 3px; */
      height: 33px !important;
      padding-left: 9px;
  }
  .input-item > select {
      position: relative;
      margin-left: 24px;
      width: 76%;
      height: 33px !important;
      /* letter-spacing: 3px; */
  }
  .input-item > textarea {
      position: relative;
      margin-left: 24px;
      width: 76%;
      /* letter-spacing: 3px; */
  }
  .input-item > .reserve-g-captcha {
      position: relative;
      margin-left: 24px;
      width: 76%;
      letter-spacing: 3px;
      transform:scale(0.85);
      -webkit-transform:scale(0.85);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
  }
  .reserve-info {
      position: absolute;
      letter-spacing: 1px;
      line-height: 1.7;
      height: 130px;
      width: calc(20vw + 131px);
      top: 161px;
      margin-left: calc(10vw + 314.8px);
  }
  .reserve-info > h4 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -5px;
      font-size: 2rem;
  }
  .reserve-info > p {
      margin-top: 20px;
      font-size: 2rem;
  }
  /* submit button */
  .reserve-form-submit {
      position: absolute;
      top: 585px;
      margin-left: calc(10vw + 314.8px);
      width: calc(20vw + 131px);
  }
  .reserve-form-submit > button {
      padding: 10px 0 10px 0;
      background-color: #466612;
      color: white;
      width:100%;
      font-size: 2.4rem;
      letter-spacing: 8px;
      border: none !important;
  }
}
@media (min-width: 1321px) {
    #reserve {
        min-height: 900px !important;
    }
    .reserve-bg {
        background-color: rgba(70, 102, 18, 0.2);
        margin-top: 200px;
        height: 750px;
        padding-left: 0px !important;
    }
    .reserve-navigate-icon {
        position: absolute;
        margin-left: 10%;
        margin-top: 55px;
        width: 92px;
        height: 92px;
    }
    .reserve-navigate-icon > img {
        position: absolute;
        width: 92px;
        height: 92px;
    }
    .reserve-form-div {
        position: absolute;
        margin-left: 20%;
        width: 100%;
    }
    .reserve-form-div > h1 {
        position: relative;
        padding-left: 0;
        margin-top: 78px;
    }
    .reserve-form {
        display: inline-block;
        position: absolute;
        top: 161px;
        padding-left: 0;
        width: 25vw;
    }
    .input-item {
        margin-top: 14px;
        display: inline-flex;
        width: calc(10vw + 288px);
        font-size: 2rem;
        font-weight: normal;
        white-space: nowrap;
        text-align: justify;
        letter-spacing: 3px;
    }
    .input-item > label {
        position: relative;
        /* letter-spacing: 2px; */
        min-width: 20%;
        font-weight: 400 !important;
        margin-top: 2px !important;
    }
    .input-item > input {
        position: relative;
        margin-left: 10px;
        width: 80%;
        /* letter-spacing: 3px; */
        height: 33px !important;
        padding-left: 9px;
    }
    .input-item > select {
        position: relative;
        margin-left: 10px;
        width: 80%;
        /* letter-spacing: 3px; */
    }
    .input-item > textarea {
        position: relative;
        margin-left: 10px;
        width: 80%;
        /* letter-spacing: 3px; */
    }
    .input-item > .reserve-g-captcha {
        position: relative;
        margin-left: 10px;
        width: 80%;
        letter-spacing: 3px;
        transform:scale(1.24);
        -webkit-transform:scale(1.24);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        z-index: 1200;
    }
    .reserve-info {
        position: absolute;
        letter-spacing: 1px;
        line-height: 1.7;
        height: 130px;
        width: calc(20vw + 21px);
        top: 161px;
        margin-left: calc(10vw + 362px);
    }
    .reserve-info > h4 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -5px;
        font-size: 2rem;
    }
    .reserve-info > p {
        margin-top: 20px;
        font-size: 2rem;
    }
    /* submit button */
    .reserve-form-submit {
        position: absolute;
        top: 585px;
        margin-left: calc(10vw + 362px);
        width: calc(20vw + 21px);
    }
    .reserve-form-submit > button {
        padding: 10px 0 10px 0;
        background-color: #466612;
        color: white;
        width:100%;
        font-size: 2.4rem;
        letter-spacing: 8px;
        height: 55px;
        border: none !important;
        z-index: 1000;
    }
}
#information {
    background-image: url('../img/information/background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 0 -90px;
}
/* information part */
@media (max-width: 991px) {
    #information {
        height: 1080px;
        padding-top: 80px;
        padding-bottom: 18px;
    }
    .information-div {
        position: relative;
        top: 0;
    }
    .information-navigate-icon {
        position: relative;
        /* left: 16.66667%; */
        top: 25px;
    }
    .information-navigate-icon > img {
        width: 55px;
        height: 55px;
    }
    .information-information {
      text-align: center;
      position: relative;
      /* left: calc(30vw - 99.2px); */
      /* 480 */
      left: 0;
      top: 40px;
      width: 100%;
      /* 400 */
    }
    .information-information > h3 {
        font-weight: 400;
        font-size: 2.4rem;
        letter-spacing: 2px;
        color: #231815;
        line-height: 1.2;
        margin-top: 0;
    }
    .information-information > h4 {
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 1px;
        color: #231815;
        line-height: 1.4;
        margin-top: 8px;
        margin-bottom: 0;
    }
    .information-information > h4 > small {
        color: #231815;
    }
    .information-information > p {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 2;
        letter-spacing: 1px;
        color: #727171;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .information-travel-guide > p {
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: 1.2px;
        line-height: 1.6;
        color: #727171;
        margin-top: 5px;
        margin-bottom: 0;
        text-align: left;
    }
    .information-travel-guide {
        width: 85%;
        margin-left: calc(50vw - 150px)
        /* text-align: left; */
    }
    .information-information > .spacer {
        height: 20px;
    }
    .information-map {
        position: relative;
        left: 10%;
        top: 80px;
        width: 80%;
    }
    .information-map > iframe {
        height: 350px;
        width: 100%;
    }
    .information-div > div > hr {
        border-top: 1px solid #96785a;
    }
    .information-footer {
        position: absolute;
        top: 925px;
        width: 100%;
    }
    .information-footer-icon {
        position: absolute;
        left: 10%;
        width: 80px;
    }
    .information-footer-intro {
      /* position: absolute;
      left: calc(30vw + 32.4px);
      margin-top: 9px;
      margin-left: 30px; */
      display: none;
    }
    .information-footer-intro > h5 {
      font-size: xx-small;
      letter-spacing: 2px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .information-footer-intro > p {
      font-size: xx-small;
    }
    .information-footer-link {
        position: absolute;
        right: 10%;
        font-size: 1.6rem;
        font-weight: lighter;
        letter-spacing: 1px;
        margin-top: 6px;
    }
    .information-footer-link > a {
        color: #231815;
    }
    /* ---------------------------------- */
    /*
    .information-div {
        text-align: center;
    }
    .information-navigate-icon {
        padding: 30px 35px 0 35px;
    }
    .information-information > h3 {
        font-size: 2rem;
        letter-spacing: 3px;
        color: #231815;
    }
    .information-information > h4 {
        font-size: 1.6rem;
        letter-spacing: 2px;
        line-height: 1.6;
        padding-left: 0.8vw;
        color: #231815;
    }
    .information-information > p {
        font-size: xx-small;
        letter-spacing: 1px;
        line-height: 2;
        padding-left: 0.8vw;
        font-weight: lighter;
        color: #727171;
    }
    .information-travel-guide {
        text-align: left;
        padding-left: 24px !important;
    }
    .information-map {
        height: 333px;
    }
    .information-div > div > hr {
        border-top: 1px solid #96785a;
        width: 85vw;
    }
    .information-footer-link {
        font-size: xx-small;
        font-weight: normal;
        letter-spacing: 1px;
        padding-top: 6px;
    }
    .information-footer-link > a {
        color: #231815;
    } */
}
@media (min-width: 992px) and (max-width: 1320px) {
  #information {
      min-height: 1080px !important;
  }
  .information-div {
      position: relative;
      top: 0;
  }
  .information-navigate-icon {
      position: absolute;
      left: calc(30vw - 198.4px);
      /* left: 16.66667%; */
      top: 232px;
  }
  .information-navigate-icon > img {
      width: 55px;
      height: 55px;
  }
  .information-information {
    position: absolute;
    left: calc(30vw - 99.2px);
    /* 480 */
    top: 250px;
    width: calc(20vw + 90px);
    /* 400 */
  }
  .information-information > h3 {
      font-weight: 400;
      font-size: 2.3rem;
      letter-spacing: 2px;
      color: #231815;
      margin-top: 10px;
      margin-left: -9px;
      margin-bottom: 0;
  }
  .information-information > h4 {
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 1px;
      color: #231815;
      margin-top: 10px;
      line-height: 1.7;
      margin-bottom: 0;
  }
  .information-information > h4 > small {
      font-weight: 400;
      color: #231815;
  }
  .information-information > p {
      font-weight: 400;
      font-size: xx-small;
      color: #727171;
      line-height: 1.7;
      margin-top: 5px;
      margin-bottom: 0;
  }
  .information-travel-guide > p {
      font-weight: 400;
      font-size: xx-small;
      line-height: 1.6;
      color: #727171;
      margin-top: 5px;
      margin-bottom: 0;
  }
  .information-information > .spacer {
      height: 10px;
  }
  .information-map {
      position: absolute;
      left: 50%;
      top: 250px;
      width: calc(550px - 5.4454vw);
      /* 480 */
      height: 530px;
  }
  .information-map > iframe {
      height: 428px;
      width: 41.66667vw;
  }
  .information-div > div > hr {
      border-top: 1px solid #96785a;
  }
  .information-footer {
      position: absolute;
      top: 925px;
      width: 100%;
  }
  .information-footer-icon {
      position: absolute;
      left: calc(30vw - 96px);
      width: 137px;
  }
  .information-footer-intro {
    position: absolute;
    left: calc(30vw + 32.4px);
    margin-top: 9px;
    margin-left: 30px;
  }
  .information-footer-intro > h5 {
    font-size: xx-small;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .information-footer-intro > p {
    font-size: xx-small;
  }
  .information-footer-link {
      position: absolute;
      left: calc(45vw + 220px);
      font-size: 2.4rem;
      font-weight: lighter;
      letter-spacing: 1px;
      margin-top: 10px;
  }
  .information-footer-link > a {
      color: #231815;
  }
  /* ---------------------------------- */
    /* .information-div {
        margin-top: 15vh;
        margin-left: 2vw;
    }
    .information-navigate-icon {
        width: 7vw;
        height: 65vh;
    }
    .information-information > h3 {
        font-size: 2rem;
        letter-spacing: 3px;
        color: #231815;
    }
    .information-information > h4 {
        font-size: 1.4rem;
        letter-spacing: 2px;
        line-height: 1.4;
        padding-left: 0.8vw;
        color: #231815;
    }
    .information-information > p {
        font-size: xx-small;
        letter-spacing: 1px;
        line-height: 1.6;
        padding-left: 0.8vw;
        font-weight: lighter;
        color: #727171;
    }
    .information-information > .spacer {
        height: 0.1vh;
    }
    .information-map {
        border: 1px solid grey;
        height:52vh;
        margin-top: 20px;
    }
    .information-div > div > hr {
        border-top: 1px solid #96785a;
    }
    .information-footer {
        padding-top: 2vh;
    }
    .information-footer-icon {
        padding-left: 4vw;
    }
    .information-footer > div > h5 {
        font-size: xx-small;
        padding-top: 10px;
        letter-spacing: 2px;
    }
    .information-footer > div > p {
        font-size: xx-small;
    }
    .information-footer > div > a {
        color: #231815;
    }
    .information-footer-link {
        font-size: 2.2rem;
        padding-top: 12px;
        padding-left: 3.5vw;
        font-weight: lighter;
        letter-spacing: 2px;
    } */
}
@media (min-width: 1321px) {
    #information {
        min-height: 900px !important;
    }
    .information-div {
        position: relative;
        top: 0;
    }
    .information-navigate-icon {
        position: absolute;
        left: calc(30vw - 256px);
        /* left: 16.66667%; */
        top: 222px;
    }
    .information-navigate-icon > img {
        width: 92px;
        height: 92px;
    }
    .information-information {
      position: absolute;
      left: calc(30vw - 96px);
      /* 480 */
      top: 250px;
      letter-spacing: 1px;
      width: calc(20vw + 50px);
      /* 400 */
      font-weight: 400;
    }
    .information-information > h3 {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 3px;
        color: #231815;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -12px;
    }
    .information-information > h4 {
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        color: #231815;
        line-height: 1.4;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .information-information > h4 > small{
        color: #231815;
    }
    .information-information > p {
        font-weight: 400;
        font-size: 1.6rem;
        color: #727171;
        margin-top: 10px;
        margin-bottom: 0;
        line-height: 1.6;
    }
    .information-travel-guide > p {
        font-weight: 400;
        font-size: 1.6rem;
        color: #727171;
        margin-top: 10px;
        margin-bottom: 0;
        line-height: 1.6;
    }
    .information-information > .spacer {
        height: 20px;
    }
    .information-map {
        position: absolute;
        left: 50%;
        top: 250px;
        width: calc(550px - 3.646vw);
        /* 480 */
        height: 530px;
    }
    .information-map > iframe {
        height: 530px;
    }
    .information-div > div > hr {
        border-top: 1px solid #96785a;
    }
    .information-footer {
        position: absolute;
        top: 925px;
        width: 100%;
    }
    .information-footer-icon {
        position: absolute;
        left: calc(30vw - 96px);
        width: 171px;
    }
    .information-footer-intro {
      position: absolute;
      left: calc(30vw + 75px);
      margin-top: 15px;
      margin-left: 30px;
    }
    .information-footer-intro > h5 {
      letter-spacing: 2px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .information-footer-intro > p {
      font-size: xx-small;
    }
    .information-footer-link {
        margin-top: 10px;
        position: absolute;
        left: calc(45vw + 220px);
        font-size: 3.4rem;
        letter-spacing: 1px;
    }
    .information-footer-link > a {
        color: #231815;
    }
}
/* css for sweet alert modals */
@media (max-width: 991px) {
  #sweetAlertModal {
    left: calc(45vw - 143.75px);
  }
  #sweetAlertModal > .modal-dialog {
    width: 80vw;
    max-width: 400px
  }
  .sweet-alert {
    background-color: white;
    /* height: 40vh; */
  }
  .sweet-alert > img {
    padding: 0px 20px 20px 20px;
  }
  .sweet-alert-modal-close {
    background-color: white;
    width: 20px;
    height: 20px;
    color: black;
    opacity: 0.5;
    float: right;
    border: 1px solid #466612;
    font-size: 1rem;
    padding: 0px;
    line-height: 1.15;
  }
}
@media (min-width: 992px) and (max-width: 1320px) {
  .sweet-alert {
    background-color: white;
    height: auto;
    width: 300px;
  }
  .sweet-alert > img {
    padding: 0px 25px 25px 25px;
  }
  .sweet-alert-modal-close {
    background-color: white;
    width: 25px;
    height: 25px;
    color: black;
    opacity: 0.5;
    float: right;
    border: 1px solid #466612;
    font-size: 1.6rem;
    line-height: 1.1;
  }
  .sweet-alert-modal-close > span {
    right: 3px;
    position: relative;
  }
}
@media (min-width: 1321px) {
  .sweet-alert {
    background-color: white;
    width: 80%;
    height: auto;
  }
  .sweet-alert > img {
    padding: 0px 30px 30px 30px;
  }
  .sweet-alert-modal-close {
    background-color: white;
    width: 30px;
    height: 30px;
    color: black;
    opacity: 0.5;
    float: right;
    border: 1px solid #466612;
    font-size: 2rem;
  }
  .sweet-alert-modal-close > span {
    right: 2px;
    position: relative;
  }
}
